# Build and Release Folders
bin-debug/
bin-release/
venv/
frontend/
media/*
[Oo]bj/
[Bb]in/
plan.md
static/*
__pycache__
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
#
# sqlite
*.sqlite3
*.rdb
secret.py
.idea
.DS_Store
backup/
#wagtail
wagtail-local*

