{% load static %}
<div class="max-w-4xl mx-auto flex items-center justify-center py-6">
  <form action="/subscribe/subscribe" method="post" class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {% csrf_token %}
    <div class="flex items-center justify-center md:justify-start">
      <div class="flex items-center justify-center mr-2 md:justify-start text-3xl text-sky-500">
        <i class="fas fa-star fa-bounce"></i>
      </div>
      <input
        type="text"
        name="email"
        class="form-input mr-2 md:mt-0 block w-full px-4 py-4 rounded-md shadow-sm focus:ring-sky-500 focus:border-sky-500 text-xl border-gray-300"
        id="exampleFormControlInput1"
        placeholder="Email address"
      />
    </div>

    {% if subscribe_form.errors %}
    <div class="text-red-600">
      <strong>Error!</strong> {{ subscribe_form.errors }}
    </div>
    {% endif %}

    <button
      type="submit"
      class="flex justify-center py-4 px-4 md:px-6 border rounded-md shadow-md font-medium bg-sky-500 text-white hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 col-span-2 md:col-span-1"
    >
      Subscribe
    </button>
  </form>
</div>
