<html>
<body style="background-color: #f4f4f4; font-family: Arial, sans-serif; margin: 0; padding: 0;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h1 style="font-size: 2em; color: #333; text-align: center; margin-bottom: 20px;">📝 Aaron's Blog (Not Scam! Not
        junk!)</h1>
    <div style="background-color: #fff; padding: 20px; border-radius: 10px;">
        <p style="font-size: 1em; color: #333; line-height: 1.5;">Hey there, my Friend! 🌟</p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">I've written some random thoughts again and wanted to
            share them with you! Check out this cool post: <strong style="font-weight: bold;">{{ title }}</strong>.</p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">If you want to read it, just hit the button below:
            👇</p>
        <div style="text-align: center; margin: 20px 0;">
            <a href="{{ url }}"
               style="display: inline-block; background-color: #00a8ff; color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Read
                Post</a>
        </div>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">Thanks for subscribing! (Well, I may have manually
            added you 😅)</p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">I haven't implemented an unsubscribe feature yet, so
            if you ever want to stop receiving my random musings, just shoot me a reply, and I'll take care of it! 🙏</p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">Keep being awesome!</p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">Best Regards, </p>
        <p style="font-size: 1em; color: #333; line-height: 1.5;">Aaron ❤️❤</p>
    </div>
</div>

<img src="{{ qrcode_url }}" alt="QR Code" style="max-width: 100%;"> <!-- This line has been added for the QR code -->
<img src="{{ cover_image }}" alt="Cover Image" style="max-width: 100%;">
</body>
</html>
