:root {
    --color-pairs:
    #51aee4/#fbe7b7,
    #acf256/#f736b3,
    #df0a8e/#c9d8d1,
    #dbdbee/#9f3d2b,
    #efd5e9/#459fa9,
    #224447/#fca6eb,
    #a0fc96/#fb47b0,
    #cddac0/#0c9ccc,
    #E55D87/#ffffff,
    #7bb97b/#ffffff,
    #FF9A8C/#ffffff,
    #4D81E7/#ffffff,
    #6A0572/#f8f6f6,
    #F15B5D/#ffffff,
    #00B4CC/#ffffff,
    #1D72B8/#ffffff,
    #FEB625/#ffffff,
    #D83367/#ffffff,
    #4F5D75/#ffffff,
    #9E579D/#0b1a12,
    #57837B/#ffffff,
    #d5dcd3/#139de8,
    #d9e7dc/#1d4653,
    #cbdef1/#ff0230,
    #38abfc/#eaf7a3,

    #F28D35/#ffffff,
    #194252/#ded0d8;
}


.share-block {
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    /* Default color pair, in case JavaScript is disabled or fails */

}


.share-block-inner {
    border-radius: 10px;
    overflow: hidden;
}

.block-content {
    background-color: rgba(255, 94, 77, 0.63);
    font-size: 1.1em;
    padding-left: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px 20px 0 0;
    font-weight: 700;
    position: relative;
    line-height: 1.2em; /* or whatever line height you prefer */
    max-height: 16.8em; /* 1.2em (line-height) * 4 (number of lines to show) */
    overflow: hidden;
}

.block-content::after {
    content: "... Read More";
    position: absolute;
    font-size: .8em;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.2em;
    color: #fff;
    background: linear-gradient(to bottom, transparent, rgba(112, 111, 111, 0.8) 50%);
}


.title, .author-info, .date-info {
    padding: 10px 12px;
    color: inherit;
    font-size: 0.9em;
}

.title {
    font-size: 0.2em;
    font-weight: 700;
}

.author-info {
    font-weight: 600;
}

.author-name {
    margin-right: 10px;
}

.date-info {
    font-size: 0.2em;
    font-weight: 500;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Made background darker */
    border-radius: 0 0 10px 10px;
    color: white;
}

.share-button, .change-bg-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.share-button:hover, .change-bg-button:hover {
    background-color: #0056b3;
}
