
    <blockquote class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800">
        <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">{{self.text}}</p>
       <div class=" text-gray-500">

        
    <div class="flex flex-col">
        <div class=" text-right"> 
            <div>
                <span class="text-sky-800">  ·-- <i> {{self.from_person}}</i> </span>
            </div>
            <div><i class="fa-solid fa-ghost text-gray-500"></i></div>

        </div>
    </div>
    </blockquote>

    